[user]
    name = cowsys
    email = cowsys@gmail.com
[url "github:"]
    InsteadOf = https://github.com/
[color]
    ui = auto
[core]
    editor = vim
    quotepath = false
	excludesfile = ~/.gitignore_global
[diff]
	tool = vimdiff
	compactionHeuristic = true
    colorMoved = zebra
[ghq]
    root = ~/src
# [credential]
# 	helper = osxkeychain
# [filter "lfs"]
# 	clean = git-lfs clean %f
# 	smudge = git-lfs smudge %f
# 	required = true
[merge]
    tool = vimdiff
