.config/configstore/
.config/karabiner/automatic_backups/
.config/wireshark/
.config/iterm2/
.config/Line 6/
.config/gcloud/
.config/git/
.config/hub
.config/htop/
.config/pulse/
.vim/pack
.w3m/cookie
.w3m/history
.lesshst
.vim/.netrwhist
.vim_w3m_hist
.bash_history
.zsh_history
.cache/
.wget-hsts
.inputrc
.w3m/cookie
.w3m/history
.local/share/nvim
.local/share/vlc
